/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

body {
    font-family: 'Montserrat', sans-serif;
    color: #FFF;
}

.bg-primary {
    background-color: #610D0C !important;
}

.brand-text {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
}

.main {
    font-weight: 900;
}

.footer {
    text-decoration: underline;
    text-decoration-color: #FFF;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer:hover {
    text-decoration-color: #CD9023;
}

.brand-text:hover, .brand-text-main:hover, .nav-link.active .brand-text {
    color: #CD9023;
    font-weight: 900;
}


