.about-header {
    position: relative;
    width: 100%;
    height: 90vh;
    overflow: hidden;
}

.header-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.bg-primary {
    background-color: #610D0C !important;
}

* {
    color: #FFF;
    font-family: 'Montserrat';
}

img {
    border-radius: 8px;
}

hr {
    height: 2px;
    color: #FFF;
    opacity: initial;
}

.name {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

.m-position {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.about-title {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 10px;
}