@{
    ViewData["Title"] = "SignUp";
}

<section class="container-fluid bg-primary">
    <div class="container pt-5 pb-5">
        <div class="row justify-content-center">
            <div class="col-6">
                <form>
                    <div class="mb-3 pt-3 pb-3">
                        <label for="name" class="form-label">NAME</label>
                        <input id="name" class="form-control custom-input" />
                    </div>
                    <div class="mb-3 pt-3 pb-3">
                        <label for="email" class="form-label">EMAIL</label>
                        <input id="email" class="form-control custom-input" required />
                    </div>
                    <p class="text-label pt-3 pb-3">Keep in tune with IV of Spades. Choose what you want to hear:</p>
                    <div class="form-check mb-3 pt-3 pb-3">
                        <input type="checkbox" class="form-check-input custom-input" />
                        <label class="form-check-label text-label">New music and releases</label>
                    </div>
                    <div class="form-check mb-3 pt-3 pb-3">
                        <input type="checkbox" class="form-check-input custom-input" />
                        <label class="form-check-label text-label">Upcoming concerts and events</label>
                    </div>
                    <div class="form-check mb-3 pt-3 pb-3">
                        <input type="checkbox" class="form-check-input custom-input" />
                        <label class="form-check-label text-label">Exclusive content and behind-the-scene stories</label>
                    </div>
                    <p class="text-label pt-3 pb-3 fst-italic">By signing up, I agree to receive email updates from IV of Spades and accept the privacy policy.</p>
                    <button class="w-100 sub-btn border-0 mb-3">SUBSCRIBE</button>
                </form>
            </div>
        </div>
    </div>
</section>