.bg-primary {
    background-color: #A29B95 !important;
}

.form-label {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}

.custom-input {
    background-color: transparent;
    border: 2px solid #610D0C;
    color: #610D0C;
}

.custom-input:focus {
    box-shadow: none;
}

* {
    color: #610D0C;
    font-family: 'Montserrat';
}

.text-label {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
}

.custom-input:checked {
    background-color: #610D0C;
}

.sub-btn {
    background-color: #610D0C;
    color: #FFF;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    letter-spacing: 7px;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    border-radius: 8px;
}

.sub-btn:hover {
    background-color: #FFF;
    color: #610D0C;
    font-weight: 900;
}